# Dependencies
node_modules/
package-lock.json
yarn.lock

# Environment variables
.env
.env.local
.env.production
test.html

# Uploads
backend/uploads/*
!backend/uploads/.gitkeep

TODO
# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
frontend/build/

# User
#*.pdf
